@page
@model DotNetBanky.Admin.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Dashboard";
}

<div class="row">
    <!-- End Col -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon-card mb-30">
            <div class="icon success">
                <i class="fa-solid fa-euro-sign"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Number of accounts</h6>
                <h3 class="text-bold mb-10">@Model.DashboardModel.TotalNumberOfAccounts.ToStringFormated()</h3>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon-card mb-30">
            <div class="icon primary">
                <i class="fa-solid fa-users"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Number of customers</h6>
                <h3 class="text-bold mb-10">@Model.DashboardModel.TotalNumberOfCustomers.ToStringFormated()</h3>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="icon-card mb-30">
            <div class="icon orange">
                <i class="fa-solid fa-euro-sign"></i>
            </div>
            <div class="content">
                <h6 class="mb-10">Sum of accounts</h6>
                <h3 class="text-bold mb-10">@Model.DashboardModel.TotalSumOfAllAccounts.ToStringFormated()</h3>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
</div>
<div class="row">
    @foreach (var country in Model.DashboardCountryList)
    {
        @await Component.InvokeAsync("CountryCard", new {countryData = country})
    }
</div>