@page
@model DotNetBanky.Admin.Pages.Admin.Users.CreateUserModel
@{
    ViewData["Title"] = "Create new user";
}

<div asp-validation-summary="All" class="text-danger"></div>
<div class="row g-0 auth-row">
    <div class="col-lg-12">
        <div class="signup-wrapper">
            <div class="form-wrapper">
                <form autocomplete="off" method="post">
                    <div class="row">
                        <div class="col-12">
                            <div class="input-style-1">
                                <label asp-for="InputModel.FirstName">Name</label>
                                <input asp-for="InputModel.FirstName" type="text" placeholder="Full Name" />
                                <span asp-validation-for="InputModel.FirstName" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class="input-style-1">
                                <label asp-for="InputModel.DisplayName">Display Name</label>
                                <input autocomplete="off" asp-for="InputModel.DisplayName" type="text" placeholder="User name" />
                                <span asp-validation-for="InputModel.DisplayName" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class="input-style-1">
                                <label asp-for="InputModel.Email">Email</label>
                                <input asp-for="InputModel.Email" type="email" placeholder="Email" />
                                <span asp-validation-for="InputModel.Email" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class="input-style-1">
                                <label asp-for="InputModel.Password">Password</label>
                                <input id="PasswordInput" autocomplete="off" asp-for="InputModel.Password" type="password" placeholder="Password" />
                                <div id="PasswordUpperDivId" class="valid password_requirement">At least one upper case letter.</div>
                                <div id="PasswordLowerDivId" class="valid password_requirement">At least one lower case letter.</div>
                                <div id="PasswordDigitDivId" class="valid password_requirement">At least one digit.</div>
                                <div id="PasswordSpecialDivId" class="valid password_requirement">At least one special character.</div>
                                <div id="PasswordLengthDivId" class="valid password_requirement mb-2">At least 8 characters long.</div>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class="input-style-1">
                                <label asp-for="InputModel.ConfirmPassword">Confirm Password</label>
                                <input autocomplete="off" asp-for="InputModel.ConfirmPassword" type="password" placeholder="Password" />
                                <span asp-validation-for="InputModel.ConfirmPassword" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class="select-style-1">
                                <label asp-for="InputModel.Role"></label>
                                <div class="select-position">
                                    <select class="light-bg" asp-items="Model.InputModel.Roles" asp-for="InputModel.Role">
                                        <option disabled selected>Select a role</option>
                                    </select>
                                </div>
                                <span asp-validation-for="InputModel.Role" class="text-danger"></span>
                            </div>
                        </div>
                        <!-- end col -->
                        <div class="col-12">
                            <div class=" button-group d-flex justify-content-center flex-wrap gap-5">
                                <button class="main-btn primary-btn btn-hover text-center">
                                    Create new user
                                </button>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
<partial name="_PasswordValidationScript" />
}