@page
@model DotNetBanky.Admin.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers";
}

<div class="row mb-30 pt-100">
    <div class="col-5 offset-1">
        <div class="card-style text-center mb-10">
            <div class="content mb-30">
                <i class="fas fa-search fa-3x mb-30"></i>
                <h4 class="text-bold mb-10">Search for customer</h4>
            </div>
            <div class="header-search d-flex justify-content-center">
                <form asp-page="/Search/SearchResults" method="post" asp-antiforgery="false">
                    <input type="text" name="searchWord" placeholder="Customers Search..." />
                    <button type="submit"><i class="fas fa-search fa-l"></i></button>
                </form>
            </div>
        </div>


        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="col-5">
        <div class="card-style text-center mb-10">
            <div class="content mb-30">
                <i class="fas fa-address-book fa-3x mb-30"></i>
                <h4 class="text-bold mb-10">View All Customers</h4>
            </div>
            <div class="d-flex justify-content-center">
                <a class="main-btn btn btn-sm rounded-full btn-hover"
                   asp-page="List"><i class="fas fa-address-book fa-xl mr-10"></i>List All</a>
            </div>
        </div>
    </div>
    <!-- End Col -->
</div>