@page
@model DotNetBanky.Admin.Pages.Customers.IndexModel
@{
    ViewData["Title"] = "Customers";
}

<div class="row mb-30 pt-100 d-flex justify-content-center">
    <div class="row d-flex justify-content-center mb-10">
        <div class="col-xxl-4 col-md-5 col-sm-10">
            <div class="card-style text-center mb-10">
                <div class="content mb-30">
                    <i class="fas fa-search fa-3x mb-30 text-primary"></i>
                    <h4 class="text-bold mb-10">Search for customers</h4>
                </div>
                <div class="header-search d-flex justify-content-center">
                    <form asp-page="/Search/SearchResults" method="post">
                        <input type="text" name="searchWord" placeholder="Search..." />
                        <button type="submit"><i class="fas fa-search fa-l"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-xxl-4 col-md-5 col-sm-10">
            <div class="card-style text-center mb-10">
                <div class="content mb-30">
                    <i class="far fa-id-card fa-3x mb-30 text-primary"></i>
                    <h4 class="text-bold mb-10">Get customer information</h4>
                </div>
                <div class="header-search d-flex justify-content-center">
                    <form asp-page="/Customers/Index" method="post">
                        <input type="number" name="customerId" placeholder="Customer Id..." />
                        <button type="submit"><i class="fas fa-search fa-l"></i></button>
                    </form>
                </div>
            </div>
        </div>
        <!-- End Icon Cart -->
    </div>
    <!-- End Col -->
    <div class="row d-flex justify-content-center">
        <div class="col-xxl-8 col-md-10 col-sm-12">
            <div class="card-style text-center mb-10">
                <div class="content mb-30">
                    <i class="fas fa-address-book fa-3x mb-30 text-primary"></i>
                    <h4 class="text-bold mb-10">View All Customers</h4>
                </div>
                <div class="d-flex justify-content-center">
                    <a class="main-btn active-btn btn-sm rounded-full btn-hover"
                       asp-page="List"><i class="fas fa-address-book fa-xl mr-10"></i>List All</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Col -->
</div>