<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/fullcalendar.css" />
    <link rel="stylesheet" href="~/css/morris.css" />
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="https://kit.fontawesome.com/a96393754c.js" crossorigin="anonymous"></script>

</head>
<body>
    <partial name="_SidebarPartial" />

    <main class="main-wrapper">
        <partial name="_HeaderPartial" />

        <div class="section">
            <div class="container-fluid">
                <!-- ========== title-wrapper start ========== -->
                <div class="title-wrapper pt-30">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="title mb-30">
                                <h2>@ViewData["Title"]</h2>
                            </div>
                        </div>
                        <!-- end col -->
                        <!-- TODO: configure breadcrub here -->
                        <div class="col-md-6">
                            <div class="breadcrumb-wrapper mb-30">
                                <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
                                    <breadcrumb></breadcrumb>
                                </nav>
                            </div>
                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div>
                <!-- ========== title-wrapper end ========== -->
                <div class="container">
                    <div class="row">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>

        <partial name="_FooterPartial" />
    </main>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Chart.min.js"></script>
    <script src="~/js/dynamic-pie-chart.js"></script>
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/fullcalendar.js"></script>
    <script src="~/js/jvectormap.min.js"></script>
    <script src="~/js/world-merc.js"></script>
    <script src="~/js/polyfill.js"></script>
    <script src="~/js/main.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await Component.InvokeAsync("Notyf")
</body>
</html>