<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a asp-page="/Dashboard/Index">
            <img src="~/images/logo/logo.svg" alt="logo" />
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li navigation-active-for="/" class="nav-item">
                <a asp-page="/Dashboard/Index">
                    <span class="icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            @if (User.IsInRole(RoleConstants.Admin))
            {
                <li navigation-active-for="Admin" id="admin_menu" class="nav-item nav-item-has-children">
                    <a href="#0"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#ddmenu_admin"
                   aria-controls="ddmenu_admin"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                        <span class="menu-angel"><i class="fa-solid fa-angle-down"></i></span>
                        <span class="icon">
                            <i class="fa-solid fa-user-cog"></i>
                        </span>
                        <span class="text">Admin Menu</span>
                    </a>
                    <ul id="ddmenu_admin" class="collapse dropdown-nav">
                        <li>
                            <a asp-page="/Admin/Users/UsersList"> <i class="fa-solid fa-users-cog"></i>Users managment</a>
                        </li>
                    </ul>
                </li>
            }
            <li navigation-active-for="Customers" class="nav-item nav-item-has-children">
                <a href="#0"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#ddmenu_customer"
                   aria-controls="ddmenu_customer"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                    <span class="menu-angel"><i class="fa-solid fa-angle-down"></i></span>
                    <span class="icon">
                        <i class="fas fa-address-book"></i>
                    </span>
                    <span class="text">Customers Managment</span>
                </a>
                <ul id="ddmenu_customer" class="collapse dropdown-nav">
                    <li>
                        <a asp-page="/Customers/Index"> <i class="fas fa-address-book"></i>Customers List</a>
                    </li>
                    <li>
                        <a asp-page="/Customers/Create"> <i class="fas fa-user-plus"></i>Add Customer</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</aside>
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->