<!-- ======== sidebar-nav start =========== -->
<aside class="sidebar-nav-wrapper">
    <div class="navbar-logo">
        <a asp-page="/Dashboard/Index">
            <img src="~/images/logo/logo.svg" alt="logo" />
        </a>
    </div>
    <nav class="sidebar-nav">
        <ul>
            <li navigation-active-for="/" class="nav-item">
                <a asp-page="/Dashboard/Index">
                    <span class="icon">
                        <i class="fas fa-tachometer-alt"></i>
                    </span>
                    <span class="text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" navigation-active-for="/Customers/Create">
                <a asp-page="/Customers/Create">
                    <span class="icon"> <i class="fas fa-user-plus"></i></span>
                    <span class="text">Add Customer</span>
                </a>
            </li>
            <li class="nav-item" navigation-active-for="/Customers/Index">
                <a asp-page="/Customers/Index">
                    <span class="icon">
                        <i class="fas fa-address-book"></i>
                    </span>
                    <span class="text">Customers List</span>
                </a>
            </li>

            @if (User.IsInRole(RoleConstants.Admin))
            {
                <li navigation-active-for="Admin" id="admin_menu" class="nav-item nav-item-has-children">
                    <a href="#0"
                   menu-active-for="Admin"
                   class="collapsed"
                   data-bs-toggle="collapse"
                   data-bs-target="#ddmenu_admin"
                   aria-controls="ddmenu_admin"
                   aria-expanded="false"
                   aria-label="Toggle navigation">
                        <span class="menu-angel"><i class="fa-solid fa-angle-down"></i></span>
                        <span class="icon">
                            <i class="fa-solid fa-user-cog"></i>
                        </span>
                        <span class="text">Admin Menu</span>
                    </a>
                    <ul id="ddmenu_admin" menu-active-for="Admin" class="collapse dropdown-nav">
                        <li sub-item-active-for="/Admin/Users/UsersList">
                            <a asp-page="/Admin/Users/UsersList"> <i class="fa-solid fa-users-cog"></i>Users managment</a>
                        </li>
                    </ul>
                </li>
            }
            <li class="nav-item">
                <form id="logout-form" class="form-inline" asp-page="/Auth/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" asp-antiforgery="false">
                    <a class="btn" onclick="$('#logout-form').submit()">
                        <span class="icon"><i class="fas fa-sign-out-alt"></i></span>
                        <span class="text">Log out</span>
                    </a>
                </form>
            </li>
        </ul>
    </nav>
</aside>
<div class="overlay"></div>
<!-- ======== sidebar-nav end =========== -->